@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");



body {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    margin-left: 76px;
    width: 85%;
    align-items: center;
}

.logo img {
    width: 36px;
    height: 40px;
    border-radius: 50%;
}

.nav {
    width: 500px;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.nav a {
    color: white;
    text-decoration: none;

}

.nav a:hover {
    text-decoration: underline;
}

h1 {
    margin: 40px auto;
    text-align: center;
}

.home-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    /* Better spacing */
    margin-left: 10px;
    font-size: 1.5rem;

}



.emergency {
    padding: 60px;
    background: red;
    border-radius: 50%;
    border: none;
    font-size: large;
    font-weight: bolder;
    margin-top: 20px;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
}


.emergency:hover {
    transform: scale(1.05);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}



/* For Emergency contacts */
#emergency-contacts{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#emergency-contacts h2{
    font-size: 42px;
    font-weight: bold;
}